<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BDA Lab Home Page</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/logo/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/logo/favicon//favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/logo/favicon//favicon-16x16.png">
	<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<link rel="manifest" href="/logo/favicon//site.webmanifest">
	<link rel="stylesheet" href="/css/style.css">

</head>

<body background="">
	<header>
		<h1 class="heading">BDA Lab</h1>
		<nav>

			<a href="/" class="bttn">Home</a>
			<a href="/api/user/about" class="bttn">About</a>
			<a href="/api/user/projects" class="bttn">Projects</a>
			<a href="#" class="bttn">Create Conference</a>
			<span id="isUser" class="sign-up">

			</span>

		</nav>
	</header>

	<main>

		<section>
			<h2 class="projects">Our Projects</h2>

			<div class="carousel" data-flickity='{ "wrapAround": true }'>
				<div class="carousel-cell">
					<a href="/research papers/cyber security.pdf" target="_blank">
						<img src="/research papers/Cyber Security.jpg" style="width: 600px ; height: 500px;"> </a>
				</div>
				<div class="carousel-cell">
					<a href="/research papers/ml dl.pdf" target="_blank">
						<img src="/research papers/AI And ML.jpg" style="width: 600px ; height: 500px;"> </a>
				</div>
				<div class="carousel-cell">
					<a href="/research papers/cyber security.pdf" target="_blank">
						<img src="/research papers/Cyber Security.jpg" style="width: 600px ; height: 500px;"> </a>
				</div>

				<div class="carousel-cell">
					<a href="/research papers/neural networks.pdf.pdf" target="_blank">
						<img src="/research papers/Neural Networks.jpg" style="width: 600px ; height: 500px;"> </a>
				</div>
			</div>


		</section>
		<section>
			<h2>Welcome to BDA Lab</h2>
			<p>
				In the past decade, we have witnessed the emergence of data-intensive applications that involve massive
				data flows and real-time decision-making. The increasing volume of data sources and recent business
				demands established data science as one of the most rapidly expanding fields.Data science combines
				mathematics and statistics, highly specialised programming, advanced analytics, artificial intelligence
				(AI), and machine learning with subject matter expertise to extract actionable insights from an
				organization's data.Our lab is focused on Big Data Analytics and we strive to provide innovative
				solutions for businesses and organizations. Our team of experts are dedicated to using advanced data
				analytics to solve complex problems.</p>
		</section>

		<section>
			<h2 class="worshops"> Workshops</h2>

			<h3>The First International Workshop on BDA 2022 is being organised in the online mode</h3>
			<br>
			<br>
			<div class="Timeline">Timeline: 29 March,2023-3 April,2023</div>

			<div class="buttons"><button class="Reg">Register Now</button>

				<button class="Reg">Workshop Flyer</button>
			</div>

		</section>

		<section>
			<h2> Talks and Schedule</h2>
			<div class="">Workshop Link: <a href="#" class="link">Click Here</a></div>
		</section>

		<section>
			<h2>Registration Details</h2>



			Registration Link : <a href="#" class="link">Click Here</a>
			<br>
			</div>
		</section>
	</main>
	<footer>
		<a href="#">Queries</a>
		<a href="#">contact details</a>
		<a href="#">FAQ</a>
		<a href="#" class="copy">&copy;copyright</a>
	</footer>
	<!-- JavaScript -->
	<script src="/js/home.js"></script>
	<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

</body>

</body>

</html>