<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Researcher Profile</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
	<link rel="stylesheet" href="/css/profile.css">

</head>

<body>
	<div class="wrapper">
		<section class="left-section">
			<div class="job">
				<h1 class="title about">About me</h1>
				<h3>Contact</h3>
				<ul class="contact-list">
					<li class="address">Industrieweg 232, 9000 Gent</li>
					<li class="phone">+32 345 34 34 </li>
					<li class="mail">divyatomar@gmail.com</li>
				</ul>
			</div>
		</section>
		<section class="right-section">
			<div class="about-user">
				<h1 class="user-name">Divya Tomar</h1>
				<h5 class="current-job">Research Scholar</h5>
				<p class="info">
					Hello,I am Divya Tomar.
				</p>
			</div>
			<div class="skills">
				<h1 class="title">Publications</h1>
				<ol>
					<li>
						<div class="contentText"> <b> “
								<a href="http://www.worldscientific.com/doi/abs/10.1142/S0219467816500121"
									target="_blank">Leaf Recognition for Plant Classification Using Direct Acyclic Graph
									Based Multi-Class Least Squares Twin Support Vector Machine</a></b>” International
							Journal of Image and Graphics 16, 1650012 (2016) [17 pages] DOI:
							http://dx.doi.org/10.1142/S0219467816500121 <br> <br>
						</div>
					</li>
					<li>
						<div class="contentText"> <b> “

								<a href="http://www.worldscientific.com/doi/abs/10.1142/S0219467816500121"
									target="_blank">Leaf Recognition for Plant Classification Using Direct Acyclic Graph
									Based Multi-Class Least Squares Twin Support Vector Machine</a></b>” International
							Journal of Image and Graphics 16, 1650012 (2016) [17 pages] DOI:
							http://dx.doi.org/10.1142/S0219467816500121 <br> <br>
						</div>
					</li>
					<li>
						<div class="contentText"><b>

								<a href="http://dl.acm.org/citation.cfm?id=2934317" target="_blank">

									“Prediction of defective software modules using class imbalance learning"</a>,</b>

							Applied Computational Intelligence and Soft Computing, vol.2016, Article ID 7658207, 12
							pages, 2016. <br> <br>
						</div>

			</div>
			</li>

			</ol>
			<a href="/api/user/upload"><button>Add Project</button></a>
	</div>
	<div class="skills">
		<h1 class="title">Subjects Handle as a TA</h1>
		<ul>
			<li>AI/ML</li>
			<li>Cyber Security</li>

		</ul>
	</div>
	<br>
	<br>
	<div class="skills">


	</div>
	</section>
	</div>
<script src="/js/profile.js"></script>
</body>

</html>