<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Researcher Profile</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
	<link rel="stylesheet" href="/css/profile.css">

</head>

<body>
	<!-- partial:index.partial.html -->
	<div class="wrapper">
		<section class="left-section">
			<div class="job">
				<h1 class="title about">About me</h1>
				<h3>Contact</h3>
				<ul class="contact-list">
					<li class="address">Industrieweg 232, 9000 Gent</li>
					<li class="phone">+32 345 34 34 </li>
					<li class="mail">satyendranath@gmail.com</li>
				</ul>
			</div>
		</section>
		<section class="right-section">
			<div class="about-user">
				<h1 class="user-name">Vimal Updhyay</h1>
				<h5 class="current-job">Research Scholar</h5>
				<p class="info">
					Hello,I am Vimal Updhyay
				</p>

			</div>
			<div class="skills">
				<h1 class="title">Publications</h1>
				<ol>
					</li>
					<li>
						<div class="contentText">Jointly with Suchi Sharma<b>" Inspaction of wall thickness of pipes in

								petrochemical plants through WSN"</b>, Journal of Current Engineering Research, Jan.
							-Feb. 2012, Volume 2, Issue 1. </div>
					</li>

				</ol>
			</div>
			<div class="skills">
				<h1 class="title">Subjects Handle as a TA</h1>
				<ul>
					<li>AI/ML</li></a>
					<li>Cyber Security</li></a>

				</ul>
			</div>
			<br>
			<br>
			<div class="skills">


			</div>
		</section>
	</div>

</body>

</html>